.product-card,
.product-card-empty {
    position: relative;
    background-color: #eee;
    border-radius: 16px;
    padding-top: 100%;
    overflow: hidden;
}

.product-card__buttons-wrap,
.product-card__tags {
    position: absolute;
    top: 16px;
    z-index: 2;
}

.product-card__tags {
    left: 16px;

}

.product-card__buttons-wrap {
    right: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product-card__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
    border-radius: 12px;
    border: 1px solid #DCDCDC;
    padding: 0;
    cursor: pointer;
    width: 48px;
    height: 48px;
    color: var(--color-foreground);
    transition: all ease .3s;
}

.product-card__button:not(:disabled):hover {
    background-color: #FFD875;
    border-color: #FFD875;
    color: var(--color-foreground);
}

.product-card__button:disabled {
    opacity: .8;
    background-color: #9d9d9d;
    border-color: var(--color-foreground);
    cursor: default;
}

.product-card__bottom-content {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 16px;
    right: 16px;
    left: 16px;
    z-index: 2;
    background-color: var(--color-background);
    border-radius: 16px;
    padding: 24px 32px;
    overflow: hidden;
    gap: 10px;
}

.product-card__price-wrap {
    display: flex;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-foreground);
    gap: 8px;
}

.product-card__price-wrap--sale .product-card__price {
    color: var(--critical_color);
}

.product-card__compare-price {
    color: #9D9D9D;
    text-decoration: line-through;
}

.product-card__title {
    color: var(--color-foreground);
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    flex-grow: 1;
    width: 100%;
}

.product-card__title:hover {
    text-decoration: underline;
}

.product-tags {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.product-tags__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    height: 34px;
    min-width: 64px;
    padding: 0 10px;
    border: 1px solid #DCDCDC;
    border-radius: 8px;
    background-color: var(--color-background);
}

.product-tags__item--sale {
    color: var(--color-background);
    background-color: var(--critical_color);
    border-color: var(--critical_color);
}

@media (max-width: 991px) {
    .product-card__bottom-content {
        flex-direction: column;
        gap: 8px;
        padding: 12px 16px;
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    .product-card__button {
        width: 40px;
        height: 40px;
        border-radius: 8px;
    }

    .product-card__button svg {
        width: 16px;
    }

    .product-card__buttons-wrap {
        gap: 4px;
    }

    .product-card__buttons-wrap,
    .product-card__tags {
        top: 8px;
    }

    .product-card__tags {
        left: 8px;
    }

    .product-card__buttons-wrap {
        right: 8px;
    }

    .product-card__bottom-content {
        bottom: 8px;
        left: 8px;
        right: 8px;
    }
}